.footer {
    background-color: #006400;
    color: white;
    padding: 0px;
    text-align: center;
    border-top: 5px solid #004d00; /* Adds a visual separation from the content */
    margin-left: -20px;
  }
  
  .footer-logo {
    width: 50px;
    margin-bottom: 10px;
    margin-left: 1350px;
  }
  
  .email-p {
    margin-left: 0px;
    text-align: right;
    font-size: 0.9rem; /* Slightly smaller font for footer details */
  }
  
  .footer-text p {
    margin: 10px 0;
    text-align: right;
    font-size: 0.9rem; /* Slightly smaller font for footer details */
  }
  
  /* Banner modifications */
  
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the banner vertically */
  }
  
  .banner-title {
    max-width: 900px; /* Adjust the maximum width as needed */
    text-align: center; /* Center the banner title */
  }
  
  .banner-text {
    max-width: 600px; /* Adjust the maximum width as needed */
    text-align: center; /* Center the banner text */
  }